* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f5f5f5;
}
.main-cont {
  min-height: calc(100vh - 112px - 56px);
  padding: 1rem 0;
}
.main-cont.home {
  min-height: calc(100vh - 64px - 56px);
}
@media (max-width: 600px) {
  .main-cont {
    min-height: calc(100vh - 104px - 56px);
  }
  .main-cont.home {
    min-height: calc(100vh - 56px - 56px);
  }
}
